* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

.container {
    min-height: 100vh;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}

header {
    flex: 1;
    /* border: 2px solid red; */
    background-color: rgb(50, 12, 223);
    border-radius: 2em;
}

section {
    flex: 4;
    display: flex;
    border-radius: 2em;
    gap: 1em;
}

.left-col {
    flex: 1;
    /* border: 2px solid red; */
    background-color: chartreuse;
    border-radius: 2em;
}

.right-col {
    flex: 2;
    /* border: 2px solid red; */
    background-color: rgb(190, 19, 212);
    border-radius: 2em;
}

.container.second section{
    flex-direction: row-reverse;
}

footer {
    flex: 1;
    /* border: 2px solid red; */
    background-color: rgb(223, 96, 11);
    border-radius: 2em;
}
@media(max-width:968px){
section,

.container.second section{
    flex-direction: column;
}
container{
    /* margin: 1em 2em; */
}

}